# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Eclipse project files
.project
.classpath
.settings/

# Ignore MacOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp